/* 张洪HEO颜色样式 */
:root{
    --heo-white: #fff;
    --heo-black: #000;
    --heo-none: rgba(0,0,0,0);
    --heo-gray: #999999;
    --heo-yellow: #ffc93e;
    --heo-main: var(--heo-theme);
    --heo-main-op: var(--heo-theme-op);
    --heo-shadow-theme: 0 8px 12px -3px var(--heo-theme-op);
    --heo-shadow-main: 0 8px 12px -3px var(--heo-main-op);
    --heo-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234,.20);
    --heo-shadow-white: 0 8px 12px -3px rgba(255, 255, 255,.20);
    --heo-shadow-black: 0 0 12px 4px rgba(0, 0, 0,.05);
    --heo-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62,.12);
    --heo-shadow-red: 0 8px 12px -3px #ee7d7936;
    --heo-shadow-green: 0 8px 12px -3px #87ee7936;
    --heo-logo-color: linear-gradient(215deg,#4584ff 30%,#ff7676 70%);
    --style-border: 1px solid var(--heo-card-border);
    --style-border-hover: 1px solid var(--heo-theme);
  }

  
.root,.light {
    --heo-theme: #425AEF;
    --heo-theme-op: #4259ef23;
    --heo-blue: #425AEF;
    --heo-red: #D8213C;
    --heo-pink: #FF7C7C;
    --heo-green: #57bd6a;
    --heo-fontcolor: #363636;
    --heo-background: #f7f9fe;
    --heo-reverse: #000;
    --heo-maskbg: rgba(255, 255, 255, 0.6);
    --heo-maskbgdeep: rgba(255, 255, 255, 0.85);
    --heo-hovertext: var(--heo-theme);
    --heo-ahoverbg: #F7F7FA;
    --heo-lighttext: var(--heo-main);
    --heo-secondtext: rgba(60, 60, 67, 0.6);
    --heo-scrollbar: rgba(60, 60, 67, 0.4);
    --heo-card-btn-bg: #edf0f7;
    --heo-post-blockquote-bg: #fafcff;
    --heo-post-tabs-bg: #f2f5f8;
    --heo-secondbg: #edf0f7;
    --heo-shadow-nav:0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --heo-card-bg: #fff;
    --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-card-border: #e3e8f7;
}
  
.dark {
    --heo-theme: #0084FF;
    --heo-theme-op: #0084FF23;
    --heo-blue: #0084FF;
    --heo-red: #FF3842;
    --heo-pink: #FF7C7C;
    --heo-green: #57bd6a;
    --heo-fontcolor: #F7F7FA;
    --heo-background: #18171d;
    --heo-reverse: #fff;
    --heo-maskbg: rgba(0,0,0, 0.6);
    --heo-maskbgdeep: rgba(0,0,0, 0.85);
    --heo-hovertext: #0A84FF;
    --heo-ahoverbg: #fff;
    --heo-lighttext: #f2b94b;
    --heo-secondtext: #a1a2b8;
    --heo-scrollbar: rgba(200, 200, 223, 0.4);
    --heo-card-btn-bg: #30343f;
    --heo-post-blockquote-bg: #000;
    --heo-post-tabs-bg: #121212;
    --heo-secondbg: #30343f;
    --heo-shadow-nav:0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --heo-card-bg: #1d1b26;
    --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --heo-card-border: #42444a;
}
  
@media screen and (max-width: 768px){
    :root{
        --style-border: 0px solid var(--heo-card-border);
        --style-border-hover: 0px solid var(--heo-theme);
    }
}

/* 颜色变量定义(icat) */
:root {
    --icat-white: #fff;
    --icat-white-op: rgba(255, 255, 255, 0.2);
    --icat-black: #000;
    --icat-black-op: rgba(0, 0, 0, 0.2);
    --icat-none: #00000000;
    --icat-gray: #999999;
    --icat-gray-op: #9999992b;
    --icat-vip: #e5a80d;
    --icat-main: var(--icat-theme);
    --icat-main-op: var(--icat-theme-op);
    --icat-main-op-deep: var(--icat-theme-op-deep);
    --icat-main-op-light: var(--icat-theme-op-light);
    --icat-main-none: var(--icat-theme-none);
    --icat-shadow-theme: 0 8px 12px -3px var(--icat-theme-op);
    --icat-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
    --icat-shadow-main: 0 8px 12px -3px var(--icat-main-op);
    --icat-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
    --icat-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
    --icat-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
    --icat-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
    --icat-shadow-red: 0 8px 12px -3px #ee7d7936;
    --icat-shadow-green: 0 8px 12px -3px #87ee7936;
    --icat-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    --icat-snackbar-time: 5s;
    --icat-post-bg: var(--icat-blue);
    --style-border-hover-always: 1px solid var(--icat-blue)
}

.light, :root {
    --icat-theme: #425AEF;
    --icat-theme-op: #4259ef23;
    --icat-theme-op-deep: #4259efdd;
    --icat-theme-op-light: #4259ef0d;
    --icat-theme-none: #4259ef01;
    --icat-blue: #425AEF;
    --icat-blue-op: #425AEF4D;
    --icat-red: #f04a63;
    --icat-pink: #FF7C7C;
    --icat-green: #57bd6a;
    --icat-yellow: #c28b00;
    --icat-yellow-op: #d99c001a;
    --icat-orange: #e38100;
    --icat-shadow-orange: 0 8px 12px -3px rgba(227, 129, 0, .2);
    --icat-purple: #7a60d2;
    --icat-fontcolor: #363636;
    --icat-background: #f7f9fe;
    --icat-reverse: #000;
    --icat-maskbg: rgba(255, 255, 255, 0.6);
    --icat-maskbgdeep: rgba(255, 255, 255, 0.85);
    --icat-hovertext: var(--icat-main);
    --icat-ahoverbg: #F7F7FA;
    --icat-lighttext: var(--icat-main);
    --icat-secondtext: rgba(60, 60, 67, 0.8);
    --icat-scrollbar: rgba(60, 60, 67, 0.4);
    --icat-card-btn-bg: #edf0f7;
    --icat-post-blockquote-bg: #fafcff;
    --icat-post-tabs-bg: #f2f5f8;
    --icat-secondbg: #f7f7f9;
    --icat-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --icat-card-bg: #fff;
    --icat-card-bg-op: var(--icat-black-op);
    --icat-card-bg-none: rgba(255, 255, 255, 0);
    --icat-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --icat-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --icat-card-border: #e3e8f7;
    --icat-shadow-border: 0 8px 16px -4px #2c2d300c;
    --icat-tabs-background: #49B1F5;
    --style-border: 1px solid var(--icat-card-border);
    --style-border-hover: 1px solid var(--icat-main);
    --style-border-dashed: 1px dashed var(--icat-theme-op);
    --style-border-forever: 2px solid var(--icat-main)
}

.dark {
    --icat-theme: #f2b94b;
    --icat-theme-op: #f2b94b23;
    --icat-theme-op-deep: #f2b94bdd;
    --icat-theme-none: #f2b94b00;
    --icat-blue: #0084FF;
    --icat-blue-op: #0084FF4D;
    --icat-red: #FF3842;
    --icat-pink: #d44040;
    --icat-green: #3e9f50;
    --icat-purple: #7a60d2;
    --icat-yellow: #ffc93e;
    --icat-yellow-op: #ffc93e30;
    --icat-orange: #ff953e;
    --icat-shadow-orange: 0 8px 12px -3px rgba(255, 149, 62, .2);
    --icat-fontcolor: #F7F7FA;
    --icat-background: #18171d;
    --icat-reverse: #fff;
    --icat-maskbg: rgba(0, 0, 0, 0.6);
    --icat-maskbgdeep: rgba(0, 0, 0, 0.85);
    --icat-hovertext: #0A84FF;
    --icat-ahoverbg: #fff;
    --icat-lighttext: var(--icat-theme);
    --icat-secondtext: #a1a2b8;
    --icat-scrollbar: rgba(200, 200, 223, 0.4);
    --icat-card-btn-bg: #30343f;
    --icat-post-blockquote-bg: #000;
    --icat-post-tabs-bg: #121212;
    --icat-secondbg: #21232a;
    --icat-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --icat-card-bg: #1b1c20;
    --icat-card-bg-op: var(--icat-white-op);
    --icat-card-bg-none: #1d1b2600;
    --icat-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --icat-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --icat-card-border: #3d3d3f;
    --icat-shadow-border: 0 8px 16px -4px #00000050;
    --icat-tabs-background: #81d8cf;
    --style-border: 1px solid var(--icat-card-border);
    --style-border-hover: 1px solid var(--icat-theme);
    --style-border-dashed: 1px dashed var(--icat-theme-op);
    --style-border-forever: 2px solid var(--icat-lighttext)
}

/* 安知鱼主题变量定义 */
:root {
  --anzhiyu-theme: #3b70fc;
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-white: #fff;
  --anzhiyu-black: #000;
  --anzhiyu-none: rgba(0, 0, 0, 0);
  --anzhiyu-gray: #999999;
  --anzhiyu-yellow: #ffc93e;
  --anzhiyu-border-radius: 8px;
  --anzhiyu-main: var(--anzhiyu-theme);
  --anzhiyu-main-op: var(--anzhiyu-theme-op);
  --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
  --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
  --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --anzhiyu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --anzhiyu-shadow-red: 0 8px 12px -3px #ee7d7936;
  --anzhiyu-shadow-green: 0 8px 12px -3px #87ee7936;
  --anzhiyu-shadow-border: 0 8px 16px -4px #2c2d300c;
  --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-blue-main: #3b70fc;
  --style-border-hover: 1px solid var(--anzhiyu-main);
  --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
  --style-border-avatar: 4px solid var(--anzhiyu-background);
  --style-border-always: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-white-acrylic1: #fefeff !important;
  --anzhiyu-white-acrylic2: #fcfdff !important;
  --anzhiyu-black-acrylic2: #08080a !important;
  --anzhiyu-black-acrylic1: #0b0b0e !important;
}

.light, :root {
  --anzhiyu-theme: #3b70fc;
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-blue: #3b70fc;
  --anzhiyu-red: #d8213c;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #363636;
  --anzhiyu-background: #f7f9fe;
  --anzhiyu-reverse: #000;
  --anzhiyu-maskbg: rgba(255, 255, 255, 0.6);
  --anzhiyu-maskbgdeep: rgba(255, 255, 255, 0.85);
  --anzhiyu-hovertext: var(--anzhiyu-theme);
  --anzhiyu-ahoverbg: #f7f7fa;
  --anzhiyu-lighttext: var(--anzhiyu-main);
  --anzhiyu-secondtext: rgba(60, 60, 67, 0.6);
  --anzhiyu-scrollbar: rgba(60, 60, 67, 0.4);
  --anzhiyu-card-btn-bg: #edf0f7;
  --anzhiyu-post-blockquote-bg: #fafcff;
  --anzhiyu-post-tabs-bg: #f2f5f8;
  --anzhiyu-secondbg: #edf0f7;
  --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --anzhiyu-card-bg: #fff;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #c0c6d8;
}

.dark {
  --anzhiyu-theme: #0084ff;
  --anzhiyu-theme-op: #0084ff23;
  --anzhiyu-blue: #0084ff;
  --anzhiyu-red: #ff3842;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #f7f7fa;
  --anzhiyu-background: #18171d;
  --anzhiyu-reverse: #fff;
  --anzhiyu-maskbg: rgba(0, 0, 0, 0.6);
  --anzhiyu-maskbgdeep: rgba(0, 0, 0, 0.85);
  --anzhiyu-hovertext: #0a84ff;
  --anzhiyu-ahoverbg: #fff;
  --anzhiyu-lighttext: #f2b94b;
  --anzhiyu-secondtext: #a1a2b8;
  --anzhiyu-scrollbar: rgba(200, 200, 223, 0.4);
  --anzhiyu-card-btn-bg: #30343f;
  --anzhiyu-post-blockquote-bg: #000;
  --anzhiyu-post-tabs-bg: #121212;
  --anzhiyu-secondbg: #30343f;
  --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --anzhiyu-card-bg: #1d1b26;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #42444a;
}

/* 柒渊阁 */
.dark {
	--qiyuan-card-background: #000;
	--qiyuan-editor: var(--qiyuan-card-background);
	--qiyuan-warp: var(--qiyuan-card-background);
	--qiyuan-preview: var(--qiyuan-card-background);
	--qiyuan-bottom: var(--qiyuan-card-background);
  --qiyuan-card-backgroundtwo: #fff;
  --qiyuan-input: var(--qiyuan-card-backgroundtwo);
}

.light, :root {
  --qiyuan-card-backgroundtwo: #fff;
	--qiyuan-card-background: #fff;
	--qiyuan-editor: var(--qiyuan-card-background);
	--qiyuan-warp: var(--qiyuan-card-background);
	--qiyuan-preview: var(--qiyuan-card-background);
	--qiyuan-bottom: var(--qiyuan-card-background);
  --qiyuan-input: var(--qiyuan-card-backgroundtwo);
}

.atk-content {
    color: var(--c-text)!important;
}

/* 风纪星辰样式表 */
:root {
	/* 颜色 */
	--thyuu--main-color: var(--custom-main-hue, 0deg) var(--custom-main-sat, 70%) var(--custom-main-lig, 70%);
	--thyuu--subs-color: var(--custom-subs-hue, 20deg) var(--custom-subs-sat, 70%) var(--custom-subs-lig, 70%);
	--thyuu--color-font: 0deg 0% 20%;
	--thyuu--alpha-font: 100%;
	--thyuu--color-font-head: hsl(var(--thyuu--color-font) / var(--thyuu--alpha-font));
	--thyuu--color-font-fill: hsl(0deg 0% 100% / .9);
	--thyuu--color-scroll: hsl(var(--thyuu--main-color) / 30%);
	--thyuu--color-back-font: hsl(var(--thyuu--color-font) / 5%);
	--thyuu--color-back-have: hsl(0deg 0% 98%);
	--thyuu--color-back-white: hsl(0deg 0% 100%);
	--thyuu--color-back-none: transparent;
	
	/* 字体 */
	--thyuu--font-weight-normal: 400;
	--thyuu--font-weight-title: 600;
	--thyuu--font-family-normal: var(--custom-fonts, none), 'Misans VF', 'PingFang SC', 'Noto Sans SC', sans-serif, thyuu-iconfont;
	--thyuu--font-family-slogn: var(--custom-slogn, none), '快看世界体', var(--thyuu--font-family-normal);
	--thyuu--font-family-coder: var(--custom-coder, none), 'Monaco', 'Consolas', var(--thyuu--font-family-normal);
	--thyuu--font-family-title: var(--thyuu--font-family-normal);
	
	/* 尺寸 */
	--thyuu--size-normal: var(--custom-font-size, 16px);
	--thyuu--size-medium: .875rem;
	--thyuu--size-small: .75rem;
	--thyuu--size-title: 1rem;
	--thyuu--size-edgetb: var(--thyuu--height-head);
	--thyuu--size-edgelr: 3rem;
	--thyuu--size-area: 3rem;
	--thyuu--size-divs: 1.5rem;
	--thyuu--size-span: 1rem;
	--thyuu--size-icon: 1.25rem;
	--thyuu--size-radius: var(--custom-radius, var(--thyuu--size-normal));
	--thyuu--size-card-normal: 22.5rem;
	--thyuu--size-card-small: 13.5rem;
	--thyuu--size-screen-medium: 1152px;
	--thyuu--size-content: var(--custom-content-size, 62.5rem);
	--thyuu--size-scroll: 12px;
	--thyuu--size-cover-top: max(10em, 30vh);
	
	/* 区块 */
	--thyuu--height-head: 4rem;
	--thyuu--sticky-head: var(--thyuu--height-head);
	--thyuu--height-cover: max(var(--thyuu--size-card-normal), 80vh);
	--thyuu--align-cover: var(--custom-cover-align,center);
	--thyuu--mask-scroll-y: linear-gradient(#0000, #000 var(--thyuu--size-divs), #000 calc(100% - var(--thyuu--size-divs)), #0000);
	--thyuu--mask-scroll-x: linear-gradient(90deg,#0000, #000 var(--thyuu--size-divs), #000 calc(100% - var(--thyuu--size-divs)), #0000);
	--thyuu--border: thin solid hsl(var(--thyuu--color-font) / 5%);
	--thyuu--shadow-text: 0 .04rem .2rem rgb(0 0 0 / 30%);
	--thyuu--shadow-normal: 0 .2rem 1rem 0 hsl(0deg 0% 15% / 10%);
	--thyuu--shadow-white: 0 .2rem 1rem 0 hsl(0deg 0% 15% / 4%);
	--thyuu--shadow-color: var(--thyuu--shadow-normal), 0 2rem 2rem -2rem hsl(var(--thyuu--main-color) / 30%);

	--animation-on:cubic-bezier(.6, .1, 0, 1);
	--animation-in:cubic-bezier(.6, .2, .25, 1);
	--animation: opacity .5s var(--animation-in) backwards, transform 1s var(--animation-in) backwards, filter .7s var(--animation-in);

	/* wp重置 */
	--wp--preset--font-size--small: .75em;
	--wp--preset--font-size--medium: 1.75em;
	--wp--preset--font-size--large: 2em;
	--wp--preset--font-size--x-large: 3em;

    /* 番剧 */
    --banguim--edgelr: 3rem;
    --animation: opacity .5s var(--animation-in) backwards, transform 1s var(--animation-in) backwards, filter .7s var(--animation-in);
    --db--text-color: hsl(var(--thyuu--color-font) / var(--thyuu--alpha-font));
    --thyuu--color-font: 0deg 0% 20%;
    --thyuu--alpha-font: 100%;
}
@media (max-width: 1152px) {
    :root {
        --thyuu--size-edgelr:1.5rem;
    }
}
@media (max-width: 641px) {
    :root {
        --thyuu--sticky-head:1rem;
        --thyuu--size-scroll:0rem;
    }
}
@view-transition {
    navigation: auto;
}
/* 夜间模式 */
:root, .dark {
    --thyuu--color-font:var(--custom-main-hue, 214deg) 5% 80%;
    --thyuu--color-back-have:hsl(var(--custom-main-hue, 214deg) 5% 5%);
    --thyuu--color-back-white:hsl(var(--custom-main-hue, 214deg) 5% 10%);
    --thyuu--color-back-shift:hsl(var(--custom-main-hue, 214deg) 5% 20% / 50%);
    --thyuu--color-font-fill:var(--thyuu--color-back-have);
    --db-main-color: hsl(var(--thyuu--main-color) / 70%);
	--db-hover-color: hsl(var(--thyuu--main-color) / 70%);
	--db--text-color: hsl(var(--thyuu--color-font) / var(--thyuu--alpha-font));
	--db--text-color-light: var(--thyuu--alpha-font);
	transition: .3s;
}
:root body.nav-fixed {
    --thyuu--height-head:3rem;
}

/* 附加属性 */
:root :where(body.dark-page),
:root:has(body.dark-page) {
    --logo-color:0deg 0% 100%;
    --thyuu--color-font:0deg 0% 100%;
    --thyuu--alpha-font:75%;
    --thyuu--color-back-font:hsl(0deg 0% 60% / .05);
    --thyuu--color-back-have:hsl(0deg 0% 0%);
    --thyuu--color-back-white:hsl(0deg 0% 60% / .1);
    --thyuu--color-back-shift:hsl(0deg 0% 60% / .1);
    --thyuu--color-back-text:none;
    --thyuu--color-font-fill:var(--thyuu--color-back-have);
    --thyuu--color-font-head:hsl(0deg 0% 100% / .9);
    --thyuu--shadow-shift:var(--thyuu--shadow-white);
}
:root body.single:not(.nav-fixed, .single-format-image, .single-format-gallery) header {
    --thyuu--color-font-head: hsl(0deg 0% 100% / .9);
    --thyuu--color-font-fill: hsl(0deg 0% 0% / .7);
    --logo-color: var(--thyuu--color-font-head);
}

[class*="thyuu-icon-"]::before {
	font-family: thyuu-iconfont;
	font-style: normal;
    font-weight: normal;
}

/* 通用动画 */
@keyframes rotate{
	from{transform: rotate(0deg)}
	to{transform: rotate(1turn)}
}
@keyframes opacity {
	0% {opacity: var(--opci, 0);}
	100% {opacity: var(--opci-in, 1);}
}
@keyframes transform {
	0% {transform: var(--trfm, translateY(1rem)); transform-origin: var(--trfm-or, top); }
	100% {transform: var(--trfm-in, none);}
}
@keyframes filter {
	0% {filter: var(--filter, none);}
	100% {filter: var(--filter-in, none);}
}
@keyframes nothumb {
	100% {background-position: 50%, 200%, 200%;}
}
@keyframes end {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes onheight {
	0% {height: 0;}
}
@keyframes onwidth {
	0% {width: 0;}
}
@keyframes userbg {
	0% {height: 0;scale: 2;}
}